body {
    background: url(Trump1.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: arial;
}

h1 {
  color: black;
  font-size: 17px;
}

.tweet {
  flex-direction: row;
  border-style: solid;
   border-color: black;
   width: 20%;
}

.RenderedTrump {
  display: flex;
  background: rgba(256, 256, 256, 0.3);
  height: 300px;
}

.DonaldTweets {
  height: 300px;
}

.RenderedTweet {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  background: rgba(256, 256, 256, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
